video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content{
    position: absolute;
    display: flex;
    top: 150px;
    color: white;
    
}


h1 {
    font-size: 80px;
    margin-left: 260px;

}

.subheading{
    position: absolute;
    font-size: 27px;
    bottom: 350px;
    text-align: center;
    margin-left: 120px;
    font-weight:bold;
    color: white;
    

}

button{
    font-size: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    
    border: 2px solid #000;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    transition: color 0.4s linear;
    cursor: pointer;
}


.button:hover{
    color: #000;
}
